examen {
    background-color: #DDFFFA;
    margin-left: 2%;
}



resultados::before{
    content:"Resultados"
    }

resultados, id_aspirante {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
}





aspirante::before{
    content:"Aspirantes"
    }

aspirante, id_aspirante, nombre, apellidos, DNI, telefono, direccion, fechanacimiento, Dan, cinturon, fecha_ingreso_Dan, 
fotoAspirante, tiempo_Dan_Anterior, fotoDNI, fotoCarnetGrados{
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    margin-top: 30%;
    text-align: center;
}




meritos::before{
    content:"Meritos"
    }

meritos, id_aspirante, edad_aspirante, licenciaActualizada, trabajoEscrito {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    margin-top: 40%;
    text-align: center;
}




convalidacion_grados::before{
    content:"Convalidacion de los grados"
    }

convalidacion_grados, id_aspirante {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




requisitosaspirantes::before{
    content:"Requisitos para los apirantes"
    }

requisitosaspirantes, solicitudHasta3Dan, danySuperiorCurriculum {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




dispensamedica::before{
    content:"Dispensa medica"
    }

dispensamedica, id_aspirante {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}





jueces::before{
    content:"Jueces"
    }

jueces, id_aspirante, nombre, apellidos, diplomaJuez {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}





criteriovaloracion::before{
    content:"Criterio valoracion"
    }

criteriovaloracion, indumentaria, aseoPersonal, ejecucionTecnica, valores, respuestas {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




tribunal::before{
    content:"Tribunal"
    }

tribunal, numerojueces, calificacion_final {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




abonarcuota::before{
    content:"Aboanr cuota"
    }

abonarcuota, id_aspirante {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




suspenderexamen::before{
    content:"Suspender examen"
    }

suspenderexamen, id_aspirante, suspenderParcial, suspenderTotal, suspenderSegundaFase {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}



quintodanysuperior::before{
    content:"Quinto Dan y Superior"
    }

quintodanysuperior, kata, coloqio {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}



hasta3dan::before{
    content:"Hasta 3 Dan"
    }

hasta3dan, tecnicas, kata, kumite, campeonatos {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




cinturonnegro::before{
    content:"Cinturon negro"
    }

cinturonnegro, tecnica_Directa, tecnica_Circulares, tecnica_Pierna, teoria, kata, kumite {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}




cinturonNegroPrimerDan::before{
    content:"Cinturon negro 1r Dan"
    }

cinturonNegroPrimerDan, tecnica_Directa, tecnica_Pierna, tecnica_DirectaIndirecta, tecnica_Combinada, 
teoria, kata, kumite, aplicacion_Tecnica  {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}





cinturonNegroSegundoDan::before{
    content:"Cinturon negro 2o Dan"
    }

cinturonNegroSegundoDan, tecnica_Directa, tecnica_DirectaIndirecta, tecnica_Pierna, tecnica_Combinada, teoria,
kata, kumite, campeonatos, tecnicas, aplicacion_Tecnica, demo_libre {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}





cinturonNegroTercerDan::before{
    content:"Cinturon negro 3o Dan"
    }

cinturonNegroTercerDan, variaciones_Tecnica, teoria, kata, kumite, campeonatos, tecnicas, aplicaciones, 
aplicacion_Tecnica, demo_libre {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}





cinturonNegroCuartoDan::before{
    content:"Cinturon negro 4o Dan"
    }

cinturonNegroCuartoDan, kata, kumite, coloquio, aplicacion_Tecnica, demo_libre {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
    text-align: center;
}