body {
    background-color: #CAFCF5;
    font-size: 300%;
    text-align: center;
    margin-left: auto;
    margin-top: 25%;
}

footer {
    text-align: center;
    margin-top: 32%;
    font-size: 100%;

}


