body {
    background-color: #CAFCF5;
    font-size: 300%;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-top: 20%;
}

footer {
    text-align: center;
    margin-top: 25%;
    font-size: 80%;

}


